<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.fankaljead.memo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/memo_icon"
        android:label="@string/app_chinese_name"
        android:roundIcon="@mipmap/memo_icon_round"
        android:name="org.litepal.LitePalApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".memo.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memo.MainActivity"></activity>
    </application>

</manifest>